[submodule "termux-app"]
	path = termux-app
	url = https://github.com/zweck/termux-app.git
	branch = phoshdroid-integration
[submodule "termux-x11"]
	path = termux-x11
	url = https://github.com/zweck/termux-x11.git
	branch = phoshdroid-integration
